@use "@/styles/colors.scss";

.navbar__menu__link {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0.5rem 0;

	&.color-primary {
		color: colors.$primary;
	}

	&.color-success {
		color: colors.$success;
	}

	&.color-warning {
		color: colors.$warning;
	}

	&.color-danger {
		color: colors.$danger;
	}

	.navbar__wrapper.open & {
		animation-name: fade-left-down;
		animation-duration: 0.25s;
		animation-fill-mode: backwards;
		animation-timing-function: ease-out;
	}

	@for $i from 1 through 10 {
		.navbar__menu__item:nth-child(#{$i}) & {
			animation-delay: #{0.1 + $i * 0.025}s;
		}
	}
}
