@use "@/styles/variables.scss";

.navbar__item {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: variables.$navbar-height;

	.dropdown__menu {
		top: 2.5rem;
	}
}
