@use "sass:color";
@use "@/styles/colors";

.dropdown__menu__link {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.9rem;
	padding: 0.6rem 0.9rem;
	border-radius: 3rem;
	transition: background-color 0.2s ease-in-out;

	.icon {
		fill: colors.$foreground;
	}

	&:hover {
		background: colors.$element-background-secondary;
	}

	&.color-primary {
		color: colors.$primary;

		.icon {
			fill: colors.$primary;
		}
	}

	&.color-success {
		color: colors.$success;

		.icon {
			fill: colors.$success;
		}
	}

	&.color-warning {
		color: colors.$warning;

		.icon {
			fill: colors.$warning;
		}
	}

	&.color-danger {
		color: colors.$danger;

		.icon {
			fill: colors.$danger;
		}
	}

	.dropdown.open & {
		animation-name: fade-down;
		animation-duration: 0.25s;
		animation-fill-mode: backwards;
		animation-timing-function: ease-out;
	}

	@for $i from 1 through 10 {
		.dropdown__menu__item:nth-child(#{$i}) & {
			animation-delay: #{$i * 0.025}s;
		}
	}
}
