@use "sass:color";

$background: #fafafa;
$element-background-primary: color.adjust($background, $lightness: 3%);
$foreground: #010101;
$element-foreground-primary: color.adjust($foreground, $lightness: 50%);
$element-foreground-secondary: color.adjust($foreground, $lightness: 80%);

$primary: #498af4;
$success: #17c964;
$warning: #f5a524;
$danger: #f31260;
$danger-light: color.adjust($danger, $lightness: 45%);
