@use "./colors.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: colors.$background;
	color: colors.$foreground;
	scroll-behavior: smooth;
}

a {
	color: colors.$foreground;
	text-decoration: none;
	cursor: pointer;
}

.color-primary {
	color: colors.$primary;
}
